<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghoreshikhi</title>
    <!-- bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- custom styles -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="images/styles.css">
</head>

<body>
<body>
    <!-- header start -->
    <header>
        <nav class="navbar navbar-expand-lg panda-bg-info bg-light navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="images/undraw_handcrafts_planet.svg" width="50px" height="50px" alt="">
                </a>
                <h1 id="ghoreshikhi">Ghoreshikhi</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" href="#free-course">Free courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" href="#premium-courses">Premium courses</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" href="#review">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" href="http://localhost:5000/User Profile">User Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- image slider carousel-->
        <section class="container1">
            
               <div id="carouselExampleControls" class="carousel slide" style="background:#5cb481;" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row p-5  bg-gradient d-flex align-items-center">
                            <div class="col-lg-6">
                                <h1 class=" fw-bold " style="font-size:70px;">Welcome to  Ghoreshikhi
                                </h1>
                                <p class="fs-3" >The new way to learn properly with us !</p>
                                
                            
                            </div>
                            <div class="col-lg-5">
                                 <img src="images/undraw_mobile_testing_re_w7yb.svg" class="d-block w-100 mt-5" height="520px" alt="..."> 
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row p-5  bg-gradient d-flex align-items-center">
                            <div class="col-lg-7">
                                <h1 class="fw-bold " style="font-size:60px;"> Learn new skills online with our top educators 
                                </h1>
                                <p class="fs-3" >Showcase courses ,events and more </p>
                                
                                
                            </div>
                            <div class="col-lg-5">
                                <img src="images/undraw_engineering_team_u99p.svg" class="d-block w-100 mt-5" height="500px" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row p-5  bg-gradient d-flex align-items-center">
                            <div class="col-lg-7">
                                <h1 class=" fw-bold " style="font-size:70px;">We rank the best courses on the web

                                </h1>
                                <p class="fs-3" >We ensure better education for a better world</p>
                                
                                
                            </div>
                            <div class="col-lg-5">
                                <img src="images/undraw_in_sync_re_jlqd.svg" class="d-block w-100 m-5" height="500px" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    </header>

    
    <main>
       
        <!-- free course section -->
        <section class="container mt-5" id="free-course">
            <div class="d-flex mb-3 justify-content-center">
            <h1 class="fs-1 fw-bold ">Free Courses</h1>
            <img src="images/undraw_handcrafts_mouse_arrow.svg" width="50px" height="50px" alt="">
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="images/iStock-1031459248-2-678x381.jpg"  height="241px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title  fw-bold">Public Speaking</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="m-3">
                            <button class="panda-btn-buy-now">Add to cart 
                                <i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="images/139512214-text-file-or-document-content-editing-online-on-laptop-computer-on-working-desk-table-vector-flat-ca.jpg" height="241px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Content Writing</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="m-3">
                            <button class="panda-btn-buy-now">Add to cart <i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="images/099796ff19835109f464c712f07ea285.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Physical Fitness</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="m-3">
                            <button class="panda-btn-buy-now">Add to cart <i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- premium section -->
        <section class="container my-5" id="premium-courses">
            <div class="d-flex mb-3 justify-content-center">
                <img src="images/undraw_handcrafts_star.svg"  width="50px" height="50px" alt="">
                <h1 class="fs-1 fw-bold ">Premium Courses</h1>
            </div>
            
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="images/ai_in_ld_5de79f7908718.jpg"  height="271px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold ">Python</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="m-3">
                            <button class="panda-btn-buy-now">Buy Now</button>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="images/graphics.png" height="271px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Figma</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="m-3">
                            <button class="panda-btn-buy-now">Buy Now</button>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="images/marketing-illustration_1893-2260.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title  fw-bold">Project Management</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="m-3">
                            <button class="panda-btn-buy-now">Buy Now</button>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about us -->
         <section class="container mt-5 "  id="review">
            <div class="container my-5">
                <h1 class="fw-bolder my-5 text-center"style="font-size:60px;">Student's 
                <span class="text-success">Review</span>
                </h1>
                <div class=" row row-cols-1 justify-content-center row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 align-items-center">
                           <img src="images/flat-boy-with-vintage-glasses-avatar-vector-illustration.jpg" width="70%" alt="">
                           <div class="card-body">
                         
                          <p class="card-text fs-3 text-center "> 
                              I'm really happy with it's new features.This industry always has been my top priority . Their 24/7 support helped me a lot.
                          </p>
                                <div class="text-center">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star-half-alt text-warning"></i>
                                </div>
                                <h1 class="fs-1 fw-bolder my-5 text-center">Rafid<br>
                                <span class="text-info">Student</span></h1>
                           </div>
                        </div>
                    </div>
                    <div class="col">
                    <div class="card h-100">
                        <img src="images/vote_1.png"class="card-img-top  mx-auto my-5 w-50" alt="...">
                        <div class="card-body">
                          <p class="card-text fs-3 text-center"> I'm really satisfied with their student friendly content .Their interractive course outline is also praiseworthy </p>
                            <div class="text-center">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star-half-alt text-warning"></i>
                            </div>
                            <h1 class="fs-1 fw-bolder my-5 text-center">Spondon<br>
                            <span class="text-info">Student</span></h1>
                        </div>
                    </div>
                    </div>
                 
                </div>
            </div>
        </section>
        


    </main>
    
    <footer class="mt-5 text-center">
        <p><small>©2021.GHORESHIKHI E-LEARNING .All rights reserved.DATA DROIDS,BD.</small></p>
    </footer>
    <!-- bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>